.Stepper {
  height: 4rem;
  background-color: var(--color-gris-fondo-stepper);
  border-top: 1px solid var(--color-border-stepper);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: fixed;
  bottom: 0;
}

.Stepper__circulo_paso {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: var(--color-paso-inactivo-stepper);
}

.Stepper__circulo_paso--activo {
  background: var(--color-principal);
}